@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title The Project:</h2>


<p style="font-size:20px"><u><i>William "Coby" Kelly</i></u> is the creator of this Mini Case Management System. Technologies used include DapperORM, SQL, C#, and more. Stored Procedure SQL 
    files were created to relay information to and from the database. </p>

<body>
    
    
    
    
</body>
