@{
    ViewBag.Title = "Contact";
}
<h2>Meet The Clerk</h2>
<h3><u>Contact Information:</u></h3>

<address>
    115 Central Plaza N # 101<br />
    Canton, OH 44702<br />
    <abbr title="Phone">Phone:</abbr>
    (330) 451-7801
</address>

<address>
    <strong>Stark County Clerk of Courts:</strong>   <a href="https://www.starkcountyohio.gov/clerk">https://www.starkcountyohio.gov/clerk</a><br />

</address>